{{! Saving the search bar and category buttons for if we have time (nice-to-have but not necessary right now) }}
{{!-- <div id="search-bar">
  <input type="text" name="search" value="search for an item" />
</div>
<div>
  <p>Filter by category:</p>
  {{> categories}}
</div> --}}
<div>
  <p>Viewing All Listings</p>
</div>
<div class="listings-grid">
  {{#each items as |item|}}
    <article class="item-card">
      <div class="card-image">
        <a href="/item/{{id}}">
          <img src="{{image}}" alt="{{title}}" />
        </a>
      </div>
      <div class="card-details">
        <h2>
          <a href="/item/{{id}}">{{title}}</a>
        </h2>
        <p>{{description}}</p>
        <p class="lendee-info">Lended by: {{item.user.first_name}}</p>
      </div>
    </article>
  {{/each}}
</div>