<div class="page-container">
  <div class="card-header">
    <h2>Edit Listing</h2>
  </div>
  <div id="listing-hero">
    <img
      class="card-image"
      id="item-image"
      src="{{editItem.image}}"
      alt="{{editItem.title}}"
    />
  </div>
  <form id="edit-listing-form" class="card-body">
    <input type="hidden" name="item-id" value="{{editItem.id}}" />
    <div class="input-section">
      <label id="item-title" class="form-label" for="post-title">Title:</label>
      <input
        type="text"
        name="item-title"
        value="{{editItem.title}}"
        class="form-input"
      />
    </div>
    <div class="input-section">
      <label class="form-label" for="item-desc">Description:</label>
      <textarea
        rows="3"
        name="item-desc"
        class="form-input"
      >{{editItem.description}}</textarea>
    </div>
    <button
      id="update-post-btn"
      type="submit"
      class="btn primary-btn"
    >Update</button>
  </form>
</div>

<script src="/js/edit.js"></script>