<div>
  <p>Favorite Listings</p>
</div>
<div class="listings-grid">
  {{#each itemArray as |item|}}
    <article class="item-card" id="{{id}}">
      <div class="card-image">
        <img src="{{image}}" alt="{{title}}" />
      </div>
      <div class="card-details">
        <h2>
          <a href="/item/{{id}}">{{title}}</a>
        </h2>
        {{#if isAvailable}}
          <p class="badge available-badge">Available</p>
        {{else}}
          <p class="badge unavailable-badge">Available</p>
        {{/if}}
        <p>{{description}}</p>
        <button class="btn edit-listing-btn unsaveBtn">Unsave</button>
      </div>
    </article>
  {{/each}}
</div>

<script src="/js/fav.js"></script>