<div>
  <p>Favorite Listings</p>
</div>
<div class="listings-grid">
  {{!-- {{#each items as |item|}}
    <article class="item-card">
      <div class="card-image">
        <img src="{{image}}" alt="{{title}}" />
      </div>
      <div class="card-details">
        <h2>
          <a href="/item/{{id}}">{{title}}</a>
        </h2>
        <p>{{description}}</p>
        <p class="lendee-info">Lended by: {{User.first_name}}</p> --}}
      </div>
    </article>
  {{/each}}
</div>