{{#if loggedIn}}
  <div id="single-listing-pg">
    <div class="listing-hero">
      <img src="{{item.image}}" alt="{{item.title}}" />
    </div>
    <div class="listing-details container-shadow">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <p><span class="bolded">Category:</span> {{category.name}}</p>
      <p class="lendee-info"><span class="bolded">Lended by:</span>
        {{item.user.first_name}}</p>
    </div>
    <div id="listing-links">
      {{#if item.isAvailable}}
        <button class="btn primary-btn save-btn" id="{{item.id}}">Save</button>
        <a href="mailto:{{item.user.email}}"><button
            class="btn primary-btn"
            id="contact-btn"
          >Contact Lender</button></a>
      {{else}}
        <p class="warning-text">Sorry, this item is currently being borrowed by
          someone else.</p>
        <button class="btn primary-btn save-btn" id="{{item.id}}">Save</button>
        <button class="btn disabled-btn">Contact Lender</button>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="page-container">
    <p class="warning-text">Please login or create a new account to see item
      details.</p>
    <div class="pad-top">
      <a href="/login" class="btn primary-btn">Login</a>
      <a href="/signup" class="btn secondary-btn">Create Account</a>
    </div>
  </div>
{{/if}}
<script src="/js/pending.js"></script>

<script src="/js/save.js"></script>