<p>Welcome {{ user.first_name }}</p>
<div class="listings-grid">
  {{#each myItems as |item|}}
    <article class="item-card">
      <div class="card-image">
        <img src="{{image}}" alt="{{title}}" />
      </div>
      <div class="card-details">
        <h2>
          <a href="/item/{{id}}">{{title}}</a>
        </h2>
        <p>{{description}}</p>
      </div>
      <div>
         <form method="POST" action="/items/{{id}}?_method=DELETE">
        <button id="delete-btn" type="submit">Delete Listing</button>
        <a>Edit listing</a>
      </div>
      
    </article>
  {{/each}}
</div>