<p>Welcome {{user.first_name}}</p>
<div class="listings-grid">
  {{#each myItems as |item|}}
    <article class="item-card">
      <div class="card-image">
        <a href="/item/{{id}}">
          <img src="{{image}}" alt="{{title}}" />
        </a>
      </div>
      <div class="card-details">
        <h2>
          <a href="/item/{{id}}">{{title}}</a>
        </h2>
        {{#if isAvailable}}{{else}}
          <p class="available-badge">Lending</p>
        {{/if}}
        <p>{{description}}</p>
      </div>
      <div>
      <div class="listing-buttons">
        {{#if isAvailable}}
          <p>Currently lending this to someone?</p>
          <button class="btn primary-btn" id="lend-btn">I'm lending this item</button>
        {{else}}
          <p>No longer lending this item?</p>
          <button class="btn primary-btn" id="avail-btn">It's available</button>
        {{/if}}
        <a href="/edit-listing/{{id}}" class="btn edit-listing-btn"><button>Edit listing</button></a>
        <a class="btn delete-listing-btn"><button>Delete listing</button></a>
      </div>

    </article>
  {{/each}}
</div>
<script src="/js/pending.js"></script>